<article>
  <h1><a>Energent</a></h1>
  <h2>Energie intelligent nutzen</h2>
</article>
<article>
  <h1>Willkommen!</h1>
  <a>
    Informieren Sie sich über unser Angebot! Wir freuen uns auf Ihre Kontaktaufnahme. Vielen Dank !
  </a>
</article>
<article>
  <h1>Aktuelles</h1>
  <h2>KfW-Förderung nochmals verbessert</h2>
  <a>
    Die Tilgungszuschüsse für die Sanierung von Wohngebäuden wurden bei Erreichen von Effizienzhaus-Niveaus Anfang 2015 erhöht. Je nach Effizienzhaus-Niveau beträgt dieser bis zu 22,5 % der Kreditsumme.

    Auch die vergünstigten KfW-Kredite für Energieeffizient Sanieren, Energieffizient Bauen und Altersgerecht Umbauen wurden gesenkt, sie beginnen nun ab 0,75 % eff. Jahreszins.
  </a>
</article>
<article>
  <h2>Energieeinsparverordnung EnEV 2014</h2>
  <a>
    Die neue Energieeinsparverordnung ist am 1.5.2014 in Kraft getreten. Es gibt eine Vielzahl von kleineren Änderungen, welche z.B. die Erstellung von Energieausweisen betrifft.

    Für Neubauten regelt die EnEV 2014 neue Anforderungen, welche erst 2016 in Kraft treten.
  </a>
</article>
<article>
  <h2>Energent ist umgezogen!</h2>
  <div>
    <a> Sie finden uns ab sofort in Bayreuth-Oberkonnersreuth im ehemaligen Sudhaus:
      Oberkonnersreuther Straße 6 c, 95448 Bayreuth
    </a>

  </div>
</article>
<article>
  <h2>Förderung von KWK-Anlagen</h2>
  <div>
    <a> Kleine Kraft-Wärme-Kopplungsanlagen bis 20 kW elektrischer Leistung werden wieder gefördert.

      Diese auch Mini- oder Mikro-BHKWs genannten Anlagen erzeugen neben der Wärme für Heizung und Warmwasser gleichzeitig auch Strom.



      Bei typische Anlagengrößen in Einfamilienhäusern werden gefördert:

      für 1 kW elektrische Leistung: 1500 €

      für 5 kW elektrische Leistung: 2500 €



      Wir unterstützen Sie bei einer Entscheidung, ob diese Energieerzeugung bei Ihnen sinnvoll und wirtschaftlich ist und helfen gegebenfalls bei Antragstellungen.


    </a>

  </div>
</article>
<article>
  <h2>Zuschüsse für KfW-Energieeffizient Sanieren erhöht</h2>
  <div>
    <a> Seit 2013 hat die KfW die Investitionszuschüsse für Vorhaben bei 1- und 2-Familienhäusern oder Eigentumswohnungen im Programm Energieeffizient Sanieren erhöht.

      Je nach erreichtem Niveau des Gebäudes nach der Sanierung können Zuschüsse zwischen 10 % und 25 % beantragt werden.



      Fragen Sie uns nach den Voraussetzungen und Details zum Programm.


    </a>

  </div>
</article>
